Repository crossplatformkorea/react-native-kakao-login, pull requests merged in 2022-11, with the labels that each got.

#349 Android에 Custom Scheme 등록할 수 있게 설정
  android/src/main/java/com/dooboolab/kakaologins/RNKakaoLoginsModule.kt
Labels: 🍗 enhancement, 🤖 android

#350 docs: android, ios 과거 버전 link 수정
  README.md
Labels: 📖 documentation

#355 docs: update README.md
  README.md
Labels: 📖 documentation

#356 context -> reactContext로 참조 변경
  android/src/main/java/com/dooboolab/kakaologins/RNKakaoLoginsModule.kt
Labels: 🛠 bugfix, 🤖 android
