Repository crossplatformkorea/react-native-kakao-login, pull requests merged in 2023-06, with the labels that each got.

#372 feat: ios 멀티 플랫폼 앱 지원을 위한 커스텀 스킴 설정 추가
  README.md
  ios/RNKakaoLogins/RNKakaoLogins.swift
Labels: 🎯 feature, 📱 iOS

#374 배송지 가져오기 기능 추가
  KakaoLoginExample/src/pages/Intro.tsx
  README.md
  android/src/main/java/com/dooboolab/kakaologins/RNKakaoLoginsModule.kt
  ios/RNKakaoLogins/RNKakaoLogins.m
  ios/RNKakaoLogins/RNKakaoLogins.swift
  src/index.ts
  src/index.web.ts
  src/types/index.ts
Labels: 🎯 feature

#376 Fix ios eas build fail
  plugins/ios/withIosKakaoLogin.ts
Labels: 🛠 bugfix, 📱 iOS
